<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Untitled</title>
    <link href="css/styles.css" type="text/css" rel="stylesheet" />
    <link href="css/homepage.css" type="text/css" rel="stylesheet" />
    <meta name="theme-color" content="#5d6879" />
    <link rel="icon" href="images/logo.png" type="image/png">
</head>

<body>

    <header>
        <h1 id="title">Untitled</h1>
        <button id="mobile-menu" onclick="toggleMenu();">Menu</button>
        <nav>
            <div id="upload-file-wrapper">
                <button>Upload</button>
                <input type="file" name="upload-file" id="upload-file" />
            </div>
            <button id="new-file">New File</button>
        </nav>
    </header>

    <div id="directory">
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="js/appwrrite.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</html>